@page "/"
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<AuthorizeView>
    <Authorized>
        @if (tokenResponse == null)
        {
            <p>Loading...</p>
        }
        else if (tokenResponse.Tokens.Any())
        {
            <h4>Tokens</h4>
            @foreach (var token in tokenResponse.Tokens)
            {
                <p style="border: 1px dashed black">@token.TokenType: @token.TokenData</p>
            }

            <h4>Scopes</h4>
            <p>@string.Join(", ", tokenResponse.Scopes)</p>
        }
        else
        {
            <p>No tokens found.</p>
        }
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login">Đăng nhập</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Login()
    {
        NavigationManager.NavigateTo("/account/login", forceLoad: true);
    }

    private TokenResponse? tokenResponse;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tokenResponse = await HttpClient.GetFromJsonAsync<TokenResponse>("api/token");
        }
        catch (Exception ex)
        {
            tokenResponse = new();
            Console.WriteLine($"Error fetching token info: {ex.Message}");
        }
    }

    public class TokenResponse
    {
        public List<TokenInfo> Tokens { get; set; } = new();
        public List<string> Scopes { get; set; } = new List<string>();
    }

}